<form class="form-horizontal" action="">
	<div class="container">
		<div class="row well">
			<div class="col-md-3">
			    <input ng-model="data.titre" class="form-control" placeholder="Titre" ></input>
			</div>
			<div class="col-md-3">
			    <input ng-model="data.url" class="form-control" placeholder="Url" ></input>
			</div>
			<div class="col-md-3">
			    <input ng-model="data.email" class="form-control" placeholder="Email" ></input>
			</div>
			<button type="button" class="btn btn-success btn-sm" ng-click='ajouter(data.titre, data.url, data.email)'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter</button>
		</div>
		<hr/>
		<div class="panel panel-default">
		  <div class="panel-heading">Alertes</div>
			<table class="table">
		    <tr ng-repeat="alerte in data.alertes.liste">
		    	<td>{{alerte.libelle}}</td>
		    	<td>{{alerte.baseUrl}}</td>
		    	<td>{{alerte.email}}</td>
		    	<td><a href="" ng-click="supprimer(alerte.idAnnonces)"><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer</button></a></td>
		    </tr>
		  </table>
		</div>

	</div>

</form>

